/* banner section */
body {
  padding: 0;
  font-family: "Merriweather";
}
.banner-container {
  max-width: 1320px;
  height: 600px;
  position: relative;
  background: rgba(0, 0, 0, 0.5) url(sources/Banner\ Image.png);
  opacity: 100%;
  background-blend-mode: darken;
  border-radius: 15px;
}

.banner-title {
  text-align: center;
  color: #ffffff;
  padding-top: 210px;
  font-size: 32px;
  font-weight: 400;
}

.banner-tropic {
  text-align: center;
  color: #ffffff;
  font-family: "Merriweather";
  font-size: 67px;
  line-height: normal;
  margin-top: 0px;
}

/* catagories section */
.catagories-container {
  width: 1320px;
  height: 100vh;
  font-family: sans-serif;
  padding-bottom: 250px;
}

.catagories-title {
  padding-top: 50px;
  color: rgb(247, 25, 25);
  text-align: center;
  font-family: sans-serif;
  font-size: 88px;
  line-height: 70px;
  font-weight: 600;
}

.catagories-description {
  color: rgb(255, 33, 33);
  text-align: center;
  line-height: 0%;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.catagories-item {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}

.catagories-pic {
  width: 802.9px;
  height: 500px;
  margin-left: 250px;
  margin-top: 15px;
}

/* banner2 section start */

.banner2-container {
  width: 1320px;
  height: 600px;
  border-radius: 15px;
  justify-content: center;
  background: url(sources/Vectorrr.png) rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  display: flex;
}

.banner2-title {
  width: 642px;
  font-size: 64px;
  font-weight: 900;
  line-height: 85px;
  letter-spacing: 7px;
  color: #ffffff;
  padding-left: 126px;
  padding-top: 110px;
  font-family: "Merriweather";
}

.banner2-description {
  width: 697px;
  color: rgba(194, 189, 189, 0.8);
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 30px;
  padding-left: 126px;
  font-family: sans-serif;
}

.banner2-join {
  text-decoration: none;
  color: #ffffff;
  padding-left: 158px;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  font-style: normal;
}

.banner2-pic {
  font-family: "Merriweather";
  display: flex;
  width: 315px;
  height: 464px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  padding-top: 0px;
  padding-right: 90px;
}

/* place section start */
.place-container {
  width: 1320px;
  height: 482px;
  font-family: sans-serif;
  margin-top: 100px;
  padding-top: 100px;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.place-item span {
  color: red;
}

.place-item {
  font-weight: 600;

  font-size: 32px;
  line-height: 45px;
}

.place-item2 button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 8px;
  background: #f00;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 50px;
}

/* offer section start */
.offer-container {
  display: flex;
  padding-top: 100px;
  font-family: sans-serif;
  width: 1320px;
  height: 500px;
}

.offer-container-part1 h5 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}

.offer-container-part1 h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
}

.offer-container-part1 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  width: 393px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.offer-container-part2 {
  margin-left: 50px;
  border: 20px solid red;
  border-radius: 100%;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.offer-container-part3 {
  padding-left: 50px;
  margin-left: 50px;
}

.offer-container-part3 h1 {
  color: #f00;
  font-family: "Inter";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.offer-container-part3 p {
  color: rgba(7, 2, 17, 0.6);
  width: 276px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/* funtional section start */
.funtional-container {
  text-align: center;
  padding-top: 100px;
}

.funtional-container h4 {
  color: #070211;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
}

.funtional-container h1 {
  font-family: "Merriweather";
  font-size: 72px;
  font-weight: 900;
}

.funtional-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  padding-right: 266px;
  padding-left: 266px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

/* item section start */

.item-container {
  padding-top: 100px;
}

.item-part2 {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.item-list,
.item-list2 {
  padding: 10px;
}

.item-list:hover,
.item-list2:hover {
  box-shadow: 2px 2px 20px #1f1f1f;
  background-color: #ffffff;
  border-radius: 15px;
}

.item-title h4 {
  color: #f00;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
}

.item-title h1 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
}

.item-title p {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

/* subscribe section start */
.subscribe-container {
  text-align: center;
  padding-top: 100px;
  width: 1320px;
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.subscribe-container img {
  width: 150px;
  height: 150px;
}

.subscribe-container h1 {
  color: #070211;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
}

.subscribe-container p {
  text-align: center;
  padding-left: 212px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  width: 896px;
  font-weight: 400;
  line-height: 32px;
}

.subscribe-container input {
  color: rgba(7, 2, 17, 0.3);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  width: 648px;
  height: 72px;
  border-radius: 50px;
  background: #fff;
  padding-left: 50px;
  border: 0 solid;
}

.subscribe-container button {
  width: 210px;
  height: 75px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  margin-left: -213px;
  margin-top: 3px;
  border: 0 solid;
  cursor: pointer;
}

/* footer section start */

.footer-container {
  padding-top: 100px;
  background: #070211;
  width: 1320px;
  height: 700px;
  align-items: center;
}
.footer-title {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.footer-description2 i {
  padding-top: 30px;
  line-height: 1px;
  font-size: 24px;
  font-style: normal;
}

.footer-icon-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  width: 1000px;
  height: 270px;
  margin-left: 160px;
}

.footer-icon {
  padding-top: 20px;
  justify-content: center;
  padding: 10px;
}

.footer-last-section {
  display: flex;
  justify-content: space-around;
}

.footer-last-part {
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
}

.footer-last-part p {
  padding-top: 70px;
}
